*{
	margin:0px;
	padding:0px;
}

.princ{
width:50%;
height:200px;
}
.left{
width:10%;
height:10%;
background:cyan;
border:1px solid black;
float:left;
}

.menu{
background:pink;
width:90px;
float:left;
}

.clear{
	clear:left;
}

#cinc{
visibility:hidden;
}
#dos{
display:none;
}
.left:hover{
background:pink;
}

.text{
width:500px;
height:300px;
background: cyan;
overflow:auto;
}

p{
margin:5%;
}

.zindex{
width:300px;
height:250px;
border:1px solid black;
background:pink;
}
.capsa1{
position:absolute;
top:165%;
left:16%;
z-index:2;
}
.capsa2{
position:absolute;
top:190%;
left:26%;

}
.capsa3{
position:absolute;
top:140%;
left:6%;

}
.zindex:hover{
z-index:3;
}

