*{
margin:0px;
padding:0px;
}


.cap{
width:90%;
height: 45px;
border: black 1px solid;
text-align: center;
background:#dbc9a6;
margin-left:5%;
margin-right:5%;
margin-top:5%;
float:left;m,
}
.cont1{
width:59%;
height: 400px;
border: black 1px solid;
text-align: center;
background:#91ff91;
margin-left:5%;
margin-right:5px;
margin-top:10px;
float:left;
}
.cont2{
width:14%;
height: 400px;
border: black 1px solid;
text-align: center;
background:#ffffb3;
margin-left:5px;
margin-right:5px;
margin-top:10px;
float:left;
}
.menu{
width:15%;
height: 400px;
border: black 1px solid;
text-align: center;
background:#c6ffff;
margin-left:5px;
margin-top:10px;
float:left;
}
.sep{
width:90%;
height: 45px;
border: black 1px solid;
text-align: center;
background:#ffe5ff;
margin-left:5%;
margin-right:5%;
margin-top:10px;
float:left;
clear:both;
}
.peu1{
width:59%;
height: 45px;
border: black 1px solid;
text-align: center;
background:#ffb4b4;
margin-left:5%;
margin-right:5px;
margin-top:10px;
float:left;
}
.peu2{
width:30%;
height: 45px;
border: black 1px solid;
text-align: center;
background:cyan;
margin-left:5px;
margin-top:10px;
float:left;
}
