*{
	margin:0px;
	padding:0px;
}


body{
background:#D3D3D3;
font-family: Arial;
font-size:25px;
}
h1{
	text-align: center;
}

#c1{
background:#dbc9a6;
border: #9B8F76 2px solid;
text-align: center;
padding:10px;
position: absolute;
left: 10%;
top: 9%;
width:80%;
height: 8%;
}

#c2{
background:#91ff91;
border: #64b064 2px solid;
text-align: center;
position: absolute;
left: 31%;
top: 42%;
width: 35%;
height: 28%;
z-index:2;
}
#c3{
background:#ffffb3;
border: #ebeba5 2px solid;
text-align: left;
position: absolute;
top: 22%;
left: 5%;
width: 35%;
height: 28%;
}
#c4{
background:#c6ffff;
border: #98c4c4 2px solid;
text-align: right;
position: absolute;
right: 5%;
top: 22%;
width: 35%;
height: 28%;
}
#c5{
background:#ffe5ff;
border: #baa7ba 2px solid;
text-align: left;
position: absolute;
left: 5%;
top: 63%;
width: 35%;
height: 28%;
}
#c6{
background:#ffb4b4;
border: #865f5f 2px solid;
text-align: right;
position: absolute;
bottom: 8%;
right: 5%;
width: 35%;
height: 28%;
}
.zindex:hover{
z-index:3;
}
