#normal{
width: 50%;
text-align: center;
}
#relatiu p{
	background: green;
	width: 50%;
	border:  1px solid;
}
#relatiu .mou{
	position:relative;
	background: cyan;
	top:10px;
	left:10px;
}
#absolut p{
	background: #EEB71E;
	width: 50%;
	border:  1px solid;
}
#absolut .mou{
	position:absolute;
	background:#E339AD;
	top:-10px;
	left:-10px;
}
*{
margin:0;
padding:0;
}
#absolut .fixe{
	position:fixed;
	top:200px;
	left:300px;
}
