#header img {
width: 50px;
}

#header h1{
position:absolute;
top:-1%;
right: 61%;
}

body{
background-image: url("body.gif");

}
 ul{
border:solid 1px black;
height:24px;
color:white;
background: black;	
font-weight:bold ;
}

li{
float:left;
width:90px;

}
span{
position:absolute;
top:35%;
right: 15%;
background: green;
width:550px;
height:40px;
font-family: verdana;
font-size:30px;
color:white;
font-weight:bold ;
}
#imggorila img{
position:absolute;
top:12%;
right: 61%;
}

#video{
position:absolute;
top:57%;
right: 25%;
}
