#header img {
width: 50px;
}

#header h1{
position:absolute;
top:-1%;
right: 61%;
}

body{
background-image: url("body.gif");

}

#nav{
border:solid 1px black;
	
}
span{
position:absolute;
top:35%;
right: 48%;
}
