#header img {
width: 50px;
}

#header h1{
position:absolute;
top:-10px;
right: 740px;
}

body{
background-image: url("body.gif");

}
 ul{
border:solid 1px black;
height:40px;
color:white;
background: black;	
font-weight:bold ;
vertical-align:middle;
}


li{
float:left;
width:90px;
list-style:none;

}
span{
position:absolute;
top:266px;
right: 14%;
background: green;
width:550px;
height:40px;
font-family: verdana;
font-size:30px;
color:white;
font-weight:bold ;
}
#imggorila img{
position:absolute;
top:115px;
right: 60%;
}

#video{
position:absolute;
top:486px;
right: 25%;
}
